/*Preloader*/
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    z-index: 1000;
}

#loader{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    background: url(../img/loader.gif)no-repeat center 0;
}


h1{
    font-size: 45px;
}

body{
    overflow-x: hidden;
}
/*HEADER*/


/*header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../img/cyber.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}*/


#particles-js {
    position: relative;
    width: 100%;
    height: 100vh;
      background-color: #000;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/mountain2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  canvas.particles-js-canvas-el {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

nav{
    z-index: 1;
}


/*Nav*/

.logo{
    width: 85%;
}

.margen-logo{
 margin-left: 15%;
 margin-top: 10px;
}

.margen-links{
    margin-top: 10px;
}


li.nav-item{
    margin-right: 20px;
}

@media only screen and (max-width: 1100px) {
    .margen-logo{
        margin-left: 0px;
        margin-top: 0px;
       }
  }


  /*Profile*/
.presentation{
    width: 100%;
    font-weight: 600;
    
}
.card-presentation{
    width: 500px;
    height: 500px;
    background-color: transparent;
    color: white;
    z-index: 1;
}

.profile{
    width: 170px;
    height: 170px;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 5px solid #ffffff;
    margin-bottom: 20px;
    
}


/*Typed.js*/
.animate{
    font-weight: 100;
}


/*Social media*/
.social-icons li {
    display: inline;
    font-size: 0.8em;
    padding:5px 0.5px;
    margin-right: 10px;
    border: 1px solid rgba(255, 255, 255, 0.08);
  }

  .social-icons{
      margin-left: 3px;
  }


  .social-icons a{
      padding: 5px 11px;
      color: whitesmoke;
  }

  .social-icons a:hover {
    color: white;
    background-color: #00b0dc;

  }


.social-media{
      margin-top: 25px;
  }


  /*Smooth Scroll*/

.middle{
      position: relative;
      top: 17%;
      left: 96%;
      transform: translate(-50%, -50%);
  }

.mouse{
    width: 35px;
    height: 60px;
    border: 3px solid #ffffff;
    border-radius: 60px;
}

.mouse::before{
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top:13px;
    background: white;
    left: 3.5%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 2s infinite;
}

@keyframes mouse{
    from{
        opacity: 1;
        top: 13px;
    }
    to{
        opacity: 0;
        top: 40px;
    }
}

@media only screen and (max-width: 1100px) {
    .middle{
        display: none;
       }
  }


/*Footer*/
.logo-footer{
    width: 80px;
}





/*main{
    height: 900px;
}*/


/*About*/


.imgAbout{
    width: 330px;
    border:10px solid #fdfdfd;
    -webkit-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -2px rgba(0,0,0,0.75);
    
}

.jumbotron{
    background-color: white;
    
}

.stack{
    background-color: #969696;
    width: 320px;
    height: 433px;
    position: absolute;
    top: 1px;
    left: 50px;
    transform: rotate(-5deg);
    z-index: 1;
}


.stack2{
    position: relative;
    z-index:2;
}

.contenedorPic{
    width: 400px;
}


p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: left;
}


.liH{
    display: inline;
}

div div ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style: none;
    padding-left: 0px;
    text-align: left;
    margin-top: 10px;
}

div div ul{
    padding: 0px;
}


.infoAbout{
    position: relative;
    margin-right: 10px;
    padding-bottom: 1px;
    color: #a1a1a1;
    font-weight: 700;
    /*text-decoration: underline;*/
    border-bottom: 2px solid;
}

.infoNone{
    text-decoration: none;
}


.skill-btn {
    background: #00b0dc;
    border: 1px solid #00b0dc;
    color: #fff;
    margin-left: 8px;
}


.btn-a {
 float: left;
 animation-delay: 2s;
 cursor: pointer;
 display: inline-block;
 font-size: 14px;
 font-weight: 300;
 letter-spacing: 1px;
 line-height: 18px;
 padding: 14px 22px;
 text-align: center;
 text-decoration: none;
 text-transform: uppercase;
 -webkit-animation-delay: 2s;
 -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
 animation-delay: 2s;
 transition: background .3s ease-in-out, color .3s ease-in-out;
 white-space: nowrap;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
 border-radius: 3px;
 margin-top: 20px;
 text-decoration: none;
 margin-right: 15px;
}

.btn-a:hover{
    text-decoration: none;
}

.down-btn {
    background: none;
    color: #2B2F37;
    border: 1px solid #00b0dc;
}





.section-title {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.section-title h2 span {
    color: #00B0DC;
}


.card-body img{
    margin-bottom: 5%;
}







/*SKILLS*/

.bgAbout{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/spider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}


.skill{
    background-color: #222222;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
}

.skCont{
    width: 70%;
    height: 10px;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px auto;
    margin-bottom: 5%;
}

.sH2{
    margin-left: 15%;
    color: floralwhite;
    font-size: 16px;
}

.bar{
    box-shadow: 0px 0px 10px 4px aquamarine;
    height: 4px;
    margin: 2px 0px;
    border-radius: 2px;
    background-color: #fff;
}

/*HTML*/
.skHtml{
    animation: skHtml 2s;
    width: 90%;
}

@keyframes skHtml{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

/*CCS*/
.skCss{
    animation: skCss 2s;
    width: 85%;
}

@keyframes skCss{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}



/*JavaScript*/
.skJs{
    animation: skJs 2s;
    width: 75%;
}

@keyframes skJs{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}


/*WordPress*/
.skWord{
    animation: skWord 2s;
    width: 95%;
}

@keyframes skWord{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}


/*PHP*/
.skPhp{
    animation: skPhp 2s;
    width: 75%;
}

@keyframes skPhp{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

/*MySql*/
.skSql{
    animation: skSql 2s;
    width: 85%;
}

@keyframes skSql{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}



/* MY PORTFOLIO */

.single-img{
    position: relative;
    overflow: hidden;
}

.single-img:hover .img-overlay{
    top: 5%;
    left:5%;
}

.img-overlay{
    width: 85%;
    height: 90%;
    background-color: rgba(59, 61, 61, 0.932);
    padding: 20px;
    top: -100%;
    left: 5%;
    position: absolute;
    transition: .7s;
    border-radius: 15px;

}

.img-overlay a{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    line-height: 6.5em;
    font-weight: 900;
}




/*............. Media Querys..........*/

/*About*/

@media only screen and (max-width: 400px) {
    .stack {
        
        left: 15px;
    }

    .contenedorPic {
        width: 344px;
    }

    .stack2 {
        position: relative;
        z-index: 2;
        margin-left: -22px;
    }
  }



  /*Carga de animaciones*/

  @keyframes mover{
      0%{
          transform:translate(100%);
      }
  }


/*
  .ing{
    animation-name:ing;
    animation-duration:5s;
 } 
 @keyframes ing {
   from {
     transform: translate3d(-100%, 0, 0);
     visibility: visible;
   }
 
   to {
     transform: translate3d(0, 0, 0);
   }
  }*/